---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.jsx'
import StarShips from '@components/Starships.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

import Disclosure from '@components/Disclosure.svelte';
import Map from '@components/Map.svelte';
import 'leaflet/dist/leaflet.css';

const location = { latitude: 51.51089, longitude: -0.17563 };
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:load />

		

		<Map client:load {location} zoom={14} markerMarkup="<p>We are here!</p>" />

	 <StarShips />

	 <Disclosure client:load />
	</body>
</html>
