---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.jsx'
import StarShips from '@components/Starships.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:load />

	 <StarShips />
	</body>
</html>
